.header-background {
  position: relative;
  height: 100vh; // Full viewport height
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
   filter: blur(2px);
  }
  .header-content {
    //position: relative;
    color: #17222d;
    text-align: center;
    z-index: 2; // Keep text above blurred background
  }
  h1 ,p {
    background-color: #fafafa;
    width:400px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
    opacity: 0.8;


  }
}
