<div class="volunteer-table">
  <p-table
    [value]="users"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>الجنس</th>
        <th>تاريخ الميلاد</th>
        <th>الموقع</th>
        <th>البريد الإلكتروني</th>
        <th>رقم القومي</th>
        <th>رقم الهاتف</th>
        <th>الاسم </th>
        <th>رقم المستخدم</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-volunteer>
      <tr>

        <td>{{ volunteer.gender }}</td>
        <td>{{ volunteer.birthDate }}</td>
        <td>{{ volunteer.location }}</td>
        <td>{{ volunteer.email }}</td>
        <td>{{ volunteer.nationalId }}</td>
        <td>{{ volunteer.phone }}</td>
        <td>{{ volunteer.firstName }} {{ volunteer.lastName }}</td>
        <td>{{ volunteer.userId }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
