<div class="addProductPage">
  <div class="container">
    <!-- Header -->
    <h2 class="text-center">إضافة منتج</h2>

    <!-- Image Upload Form -->
    <form>
      <div class="form-group">
        <label for="image">رفع صورة:</label>
        <input type="file" id="image" #fileInput (change)="onImageSelected($event)" class="form-control" />
      </div>
      <button type="button" (click)="onImageUpload()" class="btn btn-primary btn-block" [disabled]="!selectedFile">تحميل</button>
    </form>

    <hr />

    <!-- Product Details Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Type -->
      <div class="form-group">
        <label for="type" class="text-end">النوع</label>
        <select id="type" class="form-control" formControlName="type" name="type" required>
          <option *ngFor="let type of ClothingType | keyvalue" [value]="type.value">{{ type.value }}</option>
        </select>
      </div>

      <!-- Condition -->
      <div class="form-group">
        <label for="state" class="text-end">الحالة</label>
        <select id="state" class="form-control" formControlName="state" name="state" required>
          <option *ngFor="let state of ItemState | keyvalue" [value]="state.value">{{ state.value }}</option>
        </select>
      </div>

      <!-- Size -->
      <div class="form-group">
        <label for="size" class="text-end">المقاس</label>
        <select id="size" class="form-control" formControlName="size" name="size" required>
          <option *ngFor="let size of ClothingSize | keyvalue" [value]="size.value">{{ size.value }}</option>
        </select>
      </div>

      <!-- Gender Suitability -->
      <div class="form-group">
        <label for="genderSuitability" class="text-end">جنس الملبس</label>
        <select id="genderSuitability" class="form-control" formControlName="genderSuitability" name="genderSuitability" required>
          <option *ngFor="let gender of GenderSuitability | keyvalue" [value]="gender.value">{{ gender.value }}</option>
        </select>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">الوصف:</label>
        <textarea id="description" class="form-control" formControlName="description" placeholder="أدخل وصف الملبس هنا" maxlength="500"></textarea>
      </div>

      <!-- Submit Button -->
      <button  type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || !selectedFile">إضافة</button>
    </form>
  </div>
</div>
