<div class="forgetPassword container">
  <!-- Input field for email -->

  <div class="myForm">
    <h4>Enter Your Email</h4>
    <p-floatLabel>
      <input pInputText id="emailReset" [(ngModel)]="emailReset" placeholder="Enter Your Email" />
      <label for="emailReset">Email</label>
    </p-floatLabel>

    <!-- Button to send the verification code to the email -->
    <button pButton type="button" label="Send Reset Code" (click)="sendResetPasswordToken()" class="send-button"></button>

  </div>
  <!-- Display message (success or error) -->
  <p *ngIf="message" [ngClass]="messageClass" class="verification-message">{{ message }}</p>
</div>
