body, html {
  font-family: 'Cairo', sans-serif;
  direction: rtl; /* النص من اليمين إلى اليسار */
}
.bg-container {
  background-image: url("/assets/images/bg2.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px; /* لضمان تنسيق جيد على الشاشات الصغيرة */

}

.card {
  border-radius: 10px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .card {
    width: 90%;
  }
}
