<div class="bg-container" dir="rtl">
  <!-- Main Container -->
  <div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <!-- Registration Card -->
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    <div class="card shadow-lg p-4 w-100" style="max-width: 500px;">
      <h3 class="text-center mb-4 text-primary fw-bold">إنشاء حساب جديد</h3>
      <form [formGroup]="registerForm" (ngSubmit)="register()">

        <!-- First and Last Name Row -->
        <div class="row g-3">
          <div class="col-md-6">
            <label for="firstName" class="form-label">الاسم الأول</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              formControlName="firstName"
              placeholder="أدخل الاسم الأول"
            />

<!--            <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="text-danger small">-->
<!--              الاسم الأول مطلوب-->
<!--            </div>-->

            <ul *ngIf="registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched" class="text-danger small">
              <span *ngIf="registerForm.get('firstName')?.getError('required')" class="text-danger small">الاسم الأول مطلوب</span>
              <span *ngIf="registerForm.get('firstName')?.getError('pattern')" class="text-danger small">عدد الاحرف لا تقل عن حرفين </span>
            </ul>
          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label">الاسم الأخير</label>
            <input
              type="text"
              id="lastName"
              class="form-control"
              formControlName="lastName"
              placeholder="أدخل الاسم الأخير"
              required
            />
            <ul *ngIf="registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched" class="text-danger small">
              <span *ngIf="registerForm.get('lastName')?.getError('required')" class="text-danger small">الاسم الاخير مطلوب</span>
              <span *ngIf="registerForm.get('lastName')?.getError('pattern')" class="text-danger small">عدد الاحرف لا تقل عن حرفين</span>
            </ul>
          </div>
        </div>

        <!-- Email Field -->
        <div class="mb-3 mt-3 text-end">
          <label for="email" class="form-label">البريد الإلكتروني</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="أدخل بريدك الإلكتروني"
            required
          />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger small">
            <span *ngIf="registerForm.get('email')?.errors?.['required']">البريد الإلكتروني مطلوب</span>
            <span *ngIf="registerForm.get('email')?.errors?.['email']">البريد الإلكتروني غير صالح</span>
          </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3 text-end">
          <label for="password" class="form-label">كلمة المرور</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="أدخل كلمة المرور"
            required
          />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger small">
            <span *ngIf="registerForm.get('password')?.errors?.['required']">كلمة المرور مطلوبة</span>
            <span *ngIf="registerForm.get('password')?.errors?.['minlength']">كلمة المرور يجب أن تحتوي على 8 أحرف على الأقل</span>
          </div>
        </div>

        <!-- National ID Field -->
        <div class="mb-3 text-end">
          <label for="nationalId" class="form-label">الرقم القومي</label>
          <input
            type="text"
            id="nationalId"
            class="form-control"
            formControlName="nationalId"
            placeholder="أدخل الرقم القومي"
            required
          />

          <ul *ngIf="registerForm.get('nationalId')?.errors && registerForm.get('nationalId')?.touched" class="text-danger small">
            <span *ngIf="registerForm.get('nationalId')?.getError('required')" class="text-danger small">الرقم القومي مطلوب</span>
            <span *ngIf="registerForm.get('nationalId')?.getError('pattern')" class="text-danger small">عدد الارقام لا تقل عن 14</span>
          </ul>
        </div>

        <!-- Phone Field -->
        <div class="mb-3 text-end">
          <label for="phone" class="form-label">رقم الهاتف</label>
          <input
            type="tel"
            id="phone"
            class="form-control text-end"
            formControlName="phone"
            placeholder="أدخل رقم الهاتف"
          />

          <ul *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="text-danger small">
            <span *ngIf="registerForm.get('phone')?.getError('required')" class="text-danger small">رقم الهاتف مطلوب</span>
            <span *ngIf="registerForm.get('phone')?.getError('pattern')" class="text-danger small">عدد الرقام لا تقل عن 11</span>
          </ul>
        </div>

        <!-- Location Field -->
        <div class="mb-3 text-end">
          <label for="location" class="form-label">المحافظة</label>
          <select id="location" class="form-select" formControlName="location" required>
            <option value="" disabled selected>اختر محافظتك </option>
            <option value="cairo">القاهرة</option>
            <option value="giza">الجيزة</option>
            <option value="alex">اسكندرية</option>
            <option value="other">اخرى</option>
          </select>
          <div *ngIf="registerForm.get('location')?.invalid && registerForm.get('location')?.touched" class="text-danger small">
            الموقع مطلوب
          </div>
        </div>

        <!-- Gender Field -->
        <div class="mb-3 text-end">
          <label for="gender" class="form-label">النوع</label>
          <select id="gender" class="form-select" formControlName="gender" required>
            <option value="" disabled selected>اختر النوع</option>
            <option value="male">ذكر</option>
            <option value="female">أنثى</option>
          </select>
          <div *ngIf="registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched" class="text-danger small">
            النوع مطلوب
          </div>
        </div>

        <!-- Birth Date Field -->
        <div class="mb-3 text-end">
          <label for="birthDate" class="form-label">تاريخ الميلاد</label>
          <input
            type="date"
            id="birthDate"
            class="form-control text-end"
            formControlName="birthDate"
            required
          />
          <div *ngIf="registerForm.get('birthDate')?.invalid && registerForm.get('birthDate')?.touched" class="text-danger small">
            تاريخ الميلاد مطلوب
          </div>
        </div>

        <!-- Role Selection Field -->
        <div class="mb-3 text-end">
          <label for="role" class="form-label">نوع المستخدم</label>
          <select id="role" class="form-select" formControlName="role" required>
            <option value="" disabled selected>اختر نوع المستخدم</option>
            <option value="needy">محتاج</option>
            <option value="volunteer">متطوع</option>
          </select>
          <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="text-danger small">
            نوع المستخدم مطلوب
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-lg w-100 mt-3 text-center">إنشاء حساب</button>
      </form>
    </div>
  </div>
</div>
