/* Logo styling */
.logo-img {
  width: 100px;  /* Adjust size as needed */
  height: auto;
  margin-left: 20px;
}

/* Ensure navbar has enough height and background color */
nav {
  background-color: #2c3e50;
  height: 7vh;
}

/* Ensure that the logo and link are aligned in one row */
.navbar-brand,
.nav-link {
  display: flex;
  align-items: center;
}

/* Adjust spacing between logo and link */
.d-flex {
  display: flex;
  align-items: center;
}

/* Customize the 'الرئيسية' link spacing */
.mainItem {
  margin-left: 15px; /* Adjust spacing between logo and link */
}

/* For navbar items on hover */
.navbar-nav .nav-item {
  margin: 0 0.1rem;
}

.nav-link {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  display: block;
}

/* Make dropdown visible */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;

}

/* Initially hide the dropdown */
.dropdown-menu {
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  position: absolute;
  visibility: hidden;
}

/* Make it visible on hover */
.nav-item.dropdown:hover .dropdown-menu {
  visibility: visible;
}

/* Hover effect for links */
.nav-link:hover {
  color: #C7EAF6 !important;
  background-color: #001F3F;
}

/* Active link styling */
.nav-link.active {
  font-weight: bold;
  color: #C7EAF6 !important;
  border-bottom: 2px solid #C7EAF6;
}

/* For the navbar toggler button on small screens */
.navbar-toggler {
  background-color: #C7EAF6;
}

.navbar-toggler-icon {
  background-color: #001F3F;
}

/* Dropdown arrow indicator */
//.nav-link.dropdown-toggle::after {
//  content: ' ▼';
//  font-size: 0.75rem;
//  margin-left: 5px;
//  color: #ffffff;
//}

.nav-link.dropdown-toggle:hover::after {
  color: #C7EAF6;
}
