<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- Dropdown toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <a *ngIf="userRole==null" class="nav-link text-white" routerLink="/login" routerLinkActive="active">تسجيل الدخول</a>
      <a *ngIf="userRole!=null" class="nav-link text-white" routerLink="/login" routerLinkActive="active" (click)="logout()">تسجيل خروج</a>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
        <!-- Admin Dropdown -->
        <li *ngIf="userRole === 'admin'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="AdminDropdown" role="button" aria-expanded="false">
            الأدمن
          </a>
          <ul class="dropdown-menu" aria-labelledby="AdminDropdown">
            <li><a class="dropdown-item" routerLink="/admin/volunteers">المتطوعين</a></li>
            <li><a class="dropdown-item" routerLink="/admin">طلبات المتطوع</a></li>
            <li><a class="dropdown-item" routerLink="/admin/needy">المحتاجين</a></li>
            <li><a class="dropdown-item" routerLink="/admin/products">المنتجات</a></li>
          </ul>
        </li>

        <!-- Needy Dropdown -->
        <li *ngIf="userRole === 'needy'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="NeedyDropdown" role="button" aria-expanded="false">
            المستفيد
          </a>
          <ul class="dropdown-menu" aria-labelledby="NeedyDropdown">
            <li><a class="dropdown-item" routerLink="/needy/products">المنتجات</a></li>
            <li><a class="dropdown-item" routerLink="/needy">طلباتى</a></li>
          </ul>
        </li>

        <!-- Volunteer Dropdown -->
        <li *ngIf="userRole === 'volunteer'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="VolunteerDropdown" role="button" aria-expanded="false">
            المتطوع
          </a>
          <ul class="dropdown-menu" aria-labelledby="VolunteerDropdown">
            <li><a class="dropdown-item" routerLink="/volunteer">منتجاتى</a></li>
            <li><a class="dropdown-item" routerLink="/volunteer/addProduct">اضافة منتج</a></li>
            <li><a class="dropdown-item" routerLink="/volunteer/products">المنتجات</a></li>
          </ul>
        </li>

        <!-- Additional Links -->
        <li class="nav-item">
          <a class="nav-link text-white mainItem" routerLink="/home" routerLinkActive="active">الرئيسية</a>
        </li>
      </ul>

      <!-- Logo moved to the right -->
      <a class="navbar-brand ms-auto" routerLink="/home" routerLinkActive="active">
        <img src="/assets/images/Logo.png" alt="Logo" class="logo-img" />
      </a>
    </div>
  </div>
</nav>
