<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid px-4">
    <!-- Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="التبديل"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex me-auto align-items-center">
      <a
        *ngIf="userRole == null"
        class="btn btn-outline-light me-2"
        routerLink="/login"
        routerLinkActive="active"
      >
        تسجيل الدخول
      </a>
      <a
        *ngIf="userRole == 'admin'"
        class="btn btn-outline-light me-2"
        routerLink="/login"
        routerLinkActive="active"
        (click)="logout()"
      >
        تسجيل خروج
      </a>
      <!-- Profile Icon and Dropdown -->
      <li *ngIf="userRole=='needy'" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-white"
          role="button"
          aria-expanded="false"
          data-bs-toggle="dropdown"
        >
          <i class="pi pi-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ProfileDropdown">
          <li>
            <a
              class="dropdown-item"
              routerLink="needy/profile"
              routerLinkActive="active"
            >
              إعدادات الملف الشخصي
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout() "routerLink="/login">تسجيل الخروج</a>
          </li>
        </ul>
      </li>
      <li *ngIf="userRole=='volunteer'" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-white"
          id="ProfileDropdown"
          role="button"
          aria-expanded="false"
          data-bs-toggle="dropdown"
        >
          <i class="pi pi-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ProfileDropdown">
          <li>
            <a
              class="dropdown-item"
              routerLink="volunteer/profile"
              routerLinkActive="active"
            >
              إعدادات الملف الشخصي
            </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">تسجيل الخروج</a>
          </li>
        </ul>
      </li>
    </div>

    <!-- Navbar Content -->
    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center mb-2 mb-lg-0">
        <!-- Home Link -->
        <li *ngIf="userRole === 'admin'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="AdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الأدمن
          </a>
          <ul class="dropdown-menu" aria-labelledby="AdminDropdown">
            <li><a class="dropdown-item" routerLink="/admin/volunteers">المتطوعين</a></li>
            <li><a class="dropdown-item" routerLink="/admin">طلبات المتطوع</a></li>
            <li><a class="dropdown-item" routerLink="/admin/needy">المحتاجين</a></li>
            <li><a class="dropdown-item" routerLink="/admin/products">المنتجات</a></li>
          </ul>
        </li>

        <!-- Needy Dropdown -->
        <li *ngIf="userRole === 'needy'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="NeedyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            المستفيد
          </a>
          <ul class="dropdown-menu" aria-labelledby="NeedyDropdown">
            <li><a class="dropdown-item" routerLink="/needy/products">المنتجات</a></li>
            <li><a class="dropdown-item" routerLink="/needy">طلباتي</a></li>
          </ul>
        </li>

        <!-- Volunteer Dropdown -->
        <li *ngIf="userRole === 'volunteer'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="VolunteerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            المتطوع
          </a>
          <ul class="dropdown-menu" aria-labelledby="VolunteerDropdown">
            <li><a class="dropdown-item" routerLink="/volunteer">منتجاتي</a></li>
            <li><a class="dropdown-item" routerLink="/volunteer/addProduct">إضافة منتج</a></li>
            <li><a class="dropdown-item" routerLink="/volunteer/products">المنتجات</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">الرئيسية</a>
        </li>

        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
          <img src="/assets/images/Logo.png" alt="Logo" class="logo-img" />
        </a>
      </ul>
    </div>
  </div>
</nav>
