// Global variables
$font-family: 'Roboto', sans-serif;
$base-padding: 15px;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
//body {
//  margin: -15px;
//  padding: 1px;
//  font-family: $font-family;



  // Example of nesting
  h1 {
    font-size: 2em;
    margin-bottom: $base-padding;
  }

  p {
    line-height: 1.5;
  }
//}


/* Apply styles to make the footer stick at the bottom */
html, body {
  height: 100%; /* Ensure full height for the viewport */
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout takes full screen height */
}

.content {
  flex: 1; /* Push the footer to the bottom */
  height: 70vh; /* Optional: To match your desired router-outlet height */
}
