<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- Logo على اليسار -->
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img src="assets/images/Logo.png" alt="Logo" class="logo-img" />
    </a>

    <!-- زر القائمة المنسدلة -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="isNavbarCollapsed ? 'false' : 'true'" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">تسجيل الدخول</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products" routerLinkActive="active">تبرع بالملابس</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/item" routerLinkActive="active">طلبات الملابس</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">من نحن </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contactUs" routerLinkActive="active">تواصل معنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mainItem" routerLink="/page/home" routerLinkActive="active">الرئيسية</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
