<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- Logo on the left -->
    <a class="navbar-brand" routerLink="/page/home" routerLinkActive="active">
      <img src="assets/images/Logo.png" alt="Logo" class="logo-img" />
    </a>

    <!-- Dropdown toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarNav"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
      <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">تسجيل الدخول</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
        <!-- Admin Dropdown -->
        @if (decodedToken?.role === 'admin') {
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              id="AdminDropdown"
              role="button"
              aria-expanded="false"
            >
              الأدمن
            </a>
            <ul class="dropdown-menu" aria-labelledby="AdminDropdown">
              <li><a class="dropdown-item" routerLink="/volunteerHistory">طلبات المتطوع</a></li>
              <li><a class="dropdown-item" routerLink="/addItemVolunteer">تقارير</a></li>
            </ul>
          </li>
          }

        <!-- Needy Dropdown -->
        @if (decodedToken?.role === 'needy') {
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              id="NeedyDropdown"
              role="button"
              aria-expanded="false"
            >
              المستفيد
            </a>
            <ul class="dropdown-menu" aria-labelledby="NeedyDropdown">
              <li><a class="dropdown-item" routerLink="/volunteerHistory">طلباتى</a></li>
              <li><a class="dropdown-item" routerLink="/">طلب منتج</a></li>
            </ul>
          </li>
        }

        <!-- Volunteer Dropdown -->
        @if (decodedToken?.role === 'volunteer') {
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              id="VolunteerDropdown"
              role="button"
              aria-expanded="false"
            >
              المتطوع
            </a>
            <ul class="dropdown-menu" aria-labelledby="VolunteerDropdown">
              <li><a class="dropdown-item" routerLink="/volunteerHistory">منتجاتى</a></li>
              <li><a class="dropdown-item" routerLink="/addProduct">اضافة منتج</a></li>
            </ul>
          </li>
        }


        <!-- Additional Links -->
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products" routerLinkActive="active">المنتجات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contactUs" routerLinkActive="active">تواصل معنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mainItem" routerLink="/page/home" routerLinkActive="active">الرئيسية</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
