<div class="addProductPage">
  <div class="container">
    <!-- Header -->
    <h2 class="text-center">إضافة منتج</h2>


    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="image">Upload Image:</label>
        <input type="file" id="image" (change)="onImageSelected($event)" />
      </div>


      <!-- Type Selector Dropdown -->
      <div class="form-group">
        <label for="type" class="text-end">النوع</label>
        <select id="type" class="form-control" formControlName="type"  name="type" required>
          <option value="فستان">فستان</option>
          <option value="قميص">قميص</option>
          <option value="بنطلون">بنطلون</option>
          <option value="جاكيت">جاكيت</option>
        </select>
      </div>

      <!-- Condition Selector Dropdown -->
      <div class="form-group">
        <label for="condition" class="text-end">الحالة</label>
        <select id="condition" class="form-control" formControlName="state"  name="state" required>
          <option value="جديد">جديد</option>
          <option value="مستعمل">مستعمل</option>
        </select>
      </div>

      <!-- Size Selector Dropdown -->
      <div class="form-group">
        <label for="size" class="text-end">المقاس</label>
        <select id="size" class="form-control" formControlName="size"  name="size" required>
          <option value="صغير">صغير</option>
          <option value="متوسط">متوسط</option>
          <option value="كبير">كبير</option>
        </select>
      </div>

      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" />
      </div>
      <button type="submit">إضافة</button>
    </form>

  </div>

</div>
