<main id="about" class="d-flex flex-column justify-content-center align-items-center min-vh-100 bg-light text-dark position-relative py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col-md-3 text-center">
        <img src="../../../../assets/images/about-us.png" alt="About Us" style="max-width: 300px;">
      </div>
      <div class="col-md-6">
        <h1 class="display-4 text-center mb-3">قصتنا وأهدافنا</h1>
        <p class="lead text-muted text-center">
          انطلقنا من إيمان عميق بقوة التكافل الاجتماعي، حيث نرى في كل قطعة ملابس فرصة للتغيير والأمل.
          مبادرتنا تتجاوز مجرد التبرع؛ إنها رسالة إنسانية تربط القلوب وتجسد معاني التراحم والتعاضد
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-5 mb-4">
        <div class="card h-100 shadow-lg border-0 overflow-hidden" style="background-color: #f8f9fa;">
          <div class="card-body text-right position-relative">
            <span class="position-absolute top-0 start-0 text-white px-3 py-2 rounded-bottom-right"
                  style="background-color: rgba(1,25,61,0.88); border-color: #01193d">2</span>
            <h2 class="card-title h4 mb-3 mt-3">خدمات التبرع بالملابس</h2>
            <p class="card-text text-dark mb-4">
              نسعى لربط المتبرعين بالمحتاجين عبر منصة متكاملة تدعم الاستدامة والتكافل الاجتماعي.
              نؤمن بأن كل قطعة ملابس يمكن أن تحدث تغييرًا إيجابيًا في حياة الآخرين
            </p>
            <a routerLink="/login" class="btn btn-outline-primary mt-3 py-2 px-4 fw-bold text-white rounded-pill"
               style="background-color: #01193d; border-color: #01193d;">
              تبرع الآن
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-5 mb-4">
        <div class="card h-100 shadow-lg border-0 overflow-hidden" style="background-color: #f8f9fa;">
          <div class="card-body text-right position-relative">
            <span class="position-absolute top-0 start-0 text-white px-3 py-2 rounded-bottom-right"
                  style="background-color: rgba(1,25,61,0.88); border-color: #01193d;">1</span>
            <h2 class="card-title h4 mb-3 mt-3">خدمات معاونة المحتاج</h2>
            <p class="card-text text-dark mb-4">
              نهدف لتوفير الملابس للمحتاجين بطريقة كريمة وميسرة.
              نخلق جسورًا من التواصل والدعم بين أفراد المجتمع، معززين قيم التكافل والتراحم
            </p>
            <a routerLink="/login" class="btn btn-outline-primary mt-3 py-2 px-4 fw-bold text-white rounded-pill"
               style="background-color: #01193d; border-color: #01193d;">
              احصل الآن
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

