<div class="dashboard-container" dir="rtl">

  <!-- Main Content Area -->
  <main class="content">
    <div *ngIf="items && items.length || noItemsFound">
      <div class="filter-container">
        <label for="statusFilter">تصفية حسب الحالة:</label>
        <select id="statusFilter" (change)="filterByStatus($event)" class="form-select">
          <option value="">الكل</option>
          <option value="تم_الموافقه">تم_الموافقه</option>
          <option value="معلق">معلق</option>
          <option value="مرفوض">مرفوض</option>
        </select>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>اسم الملبس</th>
          <th>اسم المتبرع</th>
          <th>الصورة</th>
          <th>الحالة</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.item.type }}</td>
          <td>{{ item.volunteerName }}</td>
          <td><img [src]="item.item.imageUrl" alt="item image" /></td>
          <td>{{ item.item.status }}</td>
          <td>
            <!-- موافق Button with Icon, disabled if status is 'تم_الموافقه' -->
            <button
              (click)="changeItemRequest(item, 'تم_الموافقه')"
              class="btn btn-success btn-spacing"
              [disabled]="item.item.status === 'تم_الموافقه'">
              <i class="pi pi-check" style="margin-left: 5px;"></i> موافق
            </button>

            <!-- رافض Button with Icon, disabled if status is 'مرفوض' -->
            <button
              (click)="changeItemRequest(item, 'مرفوض')"
              class="btn btn-danger btn-spacing"
              [disabled]="item.item.status === 'مرفوض'">
              <i class="pi pi-times" style="margin-left: 5px;"></i> رافض
            </button>
          </td>
        </tr>

        <!-- If no items match the filter, show a "No items found" message -->
        <tr *ngIf="noItemsFound">
          <td colspan="6" class="text-center">لا توجد عناصر بالحالة المحددة</td>
        </tr>
        </tbody>
      </table>

      <p-paginator
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)">
      </p-paginator>
    </div>
  </main>
</div>
