<div class="dashboard-container" dir="rtl">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>لوحة التحكم</h2>
    <ul>
      <li><a routerLink="/admin/needy">المستفيدين</a></li>
      <li><a routerLink="/admin/volunteers">المتطوعين</a></li>
      <li><a routerLink="/admin/products">الملابس</a></li>
      <li><a routerLink="/admin">الطلبات</a></li>
    </ul>
  </aside>

  <!-- Main Content Area -->
  <main class="content">
    <div *ngIf="items && items.length || noItemsFound">
      <div class="filter-container">
        <label for="statusFilter">تصفية حسب الحالة:</label>
        <select id="statusFilter" (change)="filterByStatus($event)" class="form-select">
          <option value="">الكل</option>
          <option value="تم_الموافقه">تم_الموافقه</option>
          <option value="معلق">معلق</option>
          <option value="مرفوض">مرفوض</option>
        </select>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>اسم المنتج</th>
          <th>اسم المتبرع</th>
          <th>الصورة</th>
          <th>الحالة</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.item.type }}</td>
          <td>{{ item.volunteerName }}</td>
          <td><img [src]="item.item.imageUrl" alt="item image" /></td>
          <td>{{ item.item.status }}</td>
          <td>
            <button (click)="changeItemRequest(item, 'تم_الموافقه')" class="btn btn-success btn-spacing">موافق</button>
            <button (click)="changeItemRequest(item, 'مرفوض')" class="btn btn-danger btn-spacing">رافض</button>
          </td>
        </tr>

        <!-- If no items match the filter, show a "No items found" message -->
        <tr *ngIf="noItemsFound">
          <td colspan="6" class="text-center">لا توجد عناصر بالحالة المحددة</td>
        </tr>
        </tbody>
      </table>

      <p-paginator
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        (onPageChange)="onPageChange($event)">
      </p-paginator>
    </div>
  </main>
</div>
