<div class="dashboard-container" dir="rtl">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>لوحة التحكم</h2>
    <ul>
      <li><a routerLink="/overview">لمستفيدين</a></li>
      <li><a routerLink="/users">المتطوعين</a></li>
      <li><a routerLink="/reports">الملابس</a></li>
      <li><a routerLink="/settings">الطلبات</a></li>
    </ul>
  </aside>

  <!-- Main Content Area -->
  <main class="content">
    <header class="content-header">
      <h1>الطلبات</h1>
    </header>
  </main>


</div>
