<div class="p-4">
  <h1>منتجاتنا </h1>
  <div class="filter-section">

    <select id="type" >
      <option value="">الكل</option>
      <option value="قميص">قميص</option>
      <option value="فستان">فستان</option>
      <!-- Add other options -->
    </select>
    <label for="type">:التصنيف</label>

    <select id="size" >
      <option value="">الكل</option>
      <option value="صغير">صغير</option>
      <option value="متوسط">متوسط</option>

      <!-- Add other options -->
    </select>
    <label for="size">:الحجم</label>

    <select id="status" >
      <option value="">الكل</option>
      <option value="جديد">جديد</option>
      <option value="مستعمل">مستعمل</option>
      <!-- Add other options -->
    </select>
    <label for="type">:حاله الملبس</label>
    <!-- Add more filters as needed -->

    <select id="gender" >
      <option value="">الكل</option>
      <option value="ذكر">ذكر</option>
      <option value="انثى">انثى</option>
      <!-- Add other options -->
    </select>
    <label for="gender">:النوع</label>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Angular *ngFor to loop over items -->
    <div *ngFor="let product of items; trackBy: trackByItemId" class="col-3" dir="rtl" >
      <div  class="card h-100" >
        <!-- Image section (use dynamic imgUrl if available) -->
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Item Image" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-end">{{ product.type }}</h5>
          <p class="card-text text-end">
            {{ product.description }}
          </p>
          <div  class="product-info d-flex justify-content-between align-items-center">
            <div class="product-sub-info text-end">
              <p><span style="font-weight: bold;">التصنيف: </span>{{ product.type }}</p>
              <p><span style="font-weight: bold;">الحجم : </span>{{ product.size }}</p>
              <p><span style="font-weight: bold;">حاله الملبس  : </span>{{ product.state }}</p>
              <p><span style="font-weight: bold;">النوع : </span>{{ product.genderSuitability }}</p>
              <p><span style="font-weight: bold;"> حاله الطلب: </span>{{ product.status }}</p>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button *ngIf="userRole=='needy'" type="button" class="btn btn-primary" [routerLink]="['/needy/item', product.itemId]" routerLinkActive="active">
            <i class="pi pi-shopping-cart"></i> عرض المنتج
          </button>
          <button *ngIf="userRole=='admin'" type="button" class="btn btn-primary" [routerLink]="['/admin/item', product.itemId]" routerLinkActive="active">
            <i class="pi pi-shopping-cart"></i> عرض المنتج
          </button>
          <button *ngIf="userRole=='volunteer'" type="button" class="btn btn-primary" [routerLink]="['/volunteer/item', product.itemId]" routerLinkActive="active">
            <i class="pi pi-shopping-cart"></i> عرض المنتج
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination component -->
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPageChange)="onPageChange($event)">
  </p-paginator>
</div>
