<div *ngFor="let item of items" class="col-3">
  <div class="card h-100">
    <!-- Optimized Product Image -->
    <img
      [ngSrc]="item.imageUrl"
      alt="Item Image"
      class="card-img-top"
      width="100%"
      height="auto"
      loading="lazy"
    />
    <!-- Product Details -->
    <div class="card-body text-end">
      <h5 class="card-title">{{ item.type }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <div>
        <p><strong>التصنيف: </strong>{{ item.type }}</p>
        <p><strong>الحجم: </strong>{{ item.size }}</p>
        <p><strong>الحالة: </strong>{{ item.state }}</p>
        <p><strong>النوع: </strong>{{ item.genderSuitability }}</p>
        <p><strong>حالة الطلب: </strong>{{ item.status }}</p>
      </div>
    </div>
    <!-- Card Footer with Button -->
    <div class="card-footer text-end">
      <button class="btn btn-primary" [routerLink]="['/item', item.volunteerId]">
        <i class="pi pi-shopping-cart"></i> عرض المنتج
      </button>
    </div>
  </div>
</div>
