<div class="item-container">
  <div class="item-details">
    <h3>بلوزه طويله فضفاضه</h3>
    <p>
      بلوزة طويلة فضفاضة بتصميم عصري وأنيق، تتميز بقصّة مريحة وأكمام واسعة تضيف لمسة من الراحة والأناقة. مصنوعة من قماش ناعم وخفيف يسمح بتهوية جيدة، مما يجعلها مثالية للأيام الدافئة أو للتنسيق مع قطع أخرى في الأجواء الباردة. يمكن ارتداؤها بأسلوب كاجوال مع جينز أو بستايل رسمي مع بنطلون كلاسيكي، مما يجعلها إضافة متعددة الاستخدامات لأي خزانة ملابس.</p>
    <p> :    الحجم</p>
    <p>:الحاله</p>
    <p>:الصنف</p>
    <p>:النوع</p>
    <button
      pButton
      pRipple
      label="طلب الثوب"
      class="p-button-success">
    </button>
  </div>
  <div class="item-image">
    <img src="assets/images/slide2.jpg" alt="Item Image" />
  </div>

</div>
