<div class="container mt-2">
  <ng-container *ngIf="needies | async as listNeedies; else failureOrLoading">
    <div class="card">
      <div class="card-header">Needies</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let n of listNeedies">
            <td>{{ n.id }}</td>
            <td>{{ n.status }}</td>
            <td>
              <button (click)="handleDeleteNeedy(n)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{ errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....

    </ng-template>
  </ng-template>
</div>
