<div class="container mt-2">
  <ng-container>
    <div class="card">
      <div class="card-header">Customers</div>
      <div class="card-body">
        <div>

        </div>
        <table class="table">
          <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let n of needies | async">
            <td>{{n.id}}</td>
            <td>{{n.name}}</td>
            <td>{{n.email}}</td>
            <td>
              <button (click)="handleDeleteNeedy(n)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>
