<div class="about-us container m-auto" >
  <h1>من نحن</h1>
  <p>
    نحن منصة تبرع بالملابس، نهدف إلى ربط المتبرعين بالمحتاجين من خلال تقديم خدمة سهلة وفعالة.
    تتيح منصتنا للأفراد التبرع بالملابس التي لم يعودوا بحاجة إليها، مما يساهم في تقليل الفاقد وتعزيز الاستدامة.
    نحن نؤمن بأن كل قطعة ملابس يمكن أن تحدث فرقًا في حياة شخص آخر، ونسعى لخلق مجتمع متكامل يدعم بعضه البعض.
    انضم إلينا اليوم وكن جزءًا من هذه المبادرة الإنسانية!
  </p>


</div>

<button
  pButton
  pRipple
  label="Submit"
  class="p-button-success ">
</button>
