.about-us {
  margin-top: 30px;
  margin-left: 20%;
  text-align: right;
  line-height: 3;
  padding-right: 70px;
  justify-content: center;
}

h1 {
  color: #333;
text-align: center;
  line-height: 2;
}

.about-us p {
  color: #555;
  line-height: 2;
}
button{
  border-radius: 20px;
  height: 40px;
  text-align: right;
  margin: 30px 300px;
}
