<br><br>
<h1>من نحن</h1>
<div class="about-us">
  <h2>خدمات التبرع</h2>
  <p>
    نحن منصة تبرع بالملابس، نهدف إلى ربط المتبرعين بالمحتاجين من خلال تقديم خدمة سهلة وفعالة.
    تتيح منصتنا للأفراد التبرع بالملابس التي لم يعودوا بحاجة إليها، مما يساهم في تقليل الفاقد وتعزيز الاستدامة.
    نحن نؤمن بأن كل قطعة ملابس يمكن أن تحدث فرقًا في حياة شخص آخر، ونسعى لخلق مجتمع متكامل يدعم بعضه البعض.
    انضم إلينا اليوم وكن جزءًا من هذه المبادرة الإنسانية!
  </p>
</div>

<button
  pButton
  pRipple
  label=" تبرع الان "
  class="p-button-success ">
</button>
<div class="about-us">
  <h2>خدمات معاونه المحتاج </h2>
  <p>
    نحن منصة تبرع بالملابس، نهدف إلى ربط المتبرعين بالمحتاجين من خلال تقديم خدمة سهلة وفعالة.
    تتيح منصتنا للأفراد التبرع بالملابس التي لم يعودوا بحاجة إليها، مما يساهم في تقليل الفاقد وتعزيز الاستدامة.
    نحن نؤمن بأن كل قطعة ملابس يمكن أن تحدث فرقًا في حياة شخص آخر، ونسعى لخلق مجتمع متكامل يدعم بعضه البعض.
    انضم إلينا اليوم وكن جزءًا من هذه المبادرة الإنسانية!
  </p>
</div>

<button
  pButton
  pRipple
  label=" احصل الان "
  class="p-button-success ">
</button>
