body {
  direction: rtl;
  text-align: right;
}

.modal-content, .form-control, select, textarea {
  text-align: right;
}
.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button.btn-block {
  width: 100%;
}
th {
  background-color: #001F3F;
  color: #e5e7eb;
}

th{
  background-color: #2c3e50;
  color: white;
}

