<div class="container mt-2">
        <div class="request-table">
          <p-table
            [value]="requests"
            [paginator]="true"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
            [lazy]="true"
            (onLazyLoad)="onPageChange($event)"
            [responsiveLayout]="'scroll'"
            [scrollable]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>حذف</th>
                <th>السبب</th>
                <th>الحالة</th>
                <th>الصورة</th>
                <th>التاريخ</th>
                <th>نوع العنصر</th>
                <th>الحجم</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-request>
              <tr>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="handleDeleteRequest(request.requestId)"
                  >
                    <i class="bi bi-trash"></i> حذف
                  </button>
                </td>
                <td>{{ request.reason }}</td>
                <td>{{ request.requestStatus }}</td>
                <td>
                  <img
                    [src]="request.itemData.imageUrl"
                    alt="Item Image"
                    width="100"
                    class="img-thumbnail"
                  />
                </td>
                <td>{{ request.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ request.itemData.type }}</td>
                <td>{{ request.itemData.size }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
