<div class="container mt-2">
  <ng-container *ngIf="requests | async as listRequests; else failureOrLoading">
    <div class="card">
      <div class="card-header">Requests</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>حذف</th>
            <th>السبب</th>
            <th>الحاله</th>
            <th>التاريخ</th>
            <th>الاسم</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let n of listRequests">
            <td>
              <button  class="btn btn-danger">حذف
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>{{ n.reason }}</td>
            <td>{{ n.status }}</td>
            <td>{{ n.date }}</td>
            <td>الاسم</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{ errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....

    </ng-template>
  </ng-template>
</div>
