<div class="container mt-2">
  <ng-container *ngIf="requests | async as listRequests; else failureOrLoading">
    <div class="card">
      <div class="card-header">Requests</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>حذف</th>
            <th>السبب</th>
            <th>الحاله</th>
            <th>الصورة</th>
            <th>التاريخ</th>
            <th>نوع العنصر</th>
            <th>الحجم</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let n of listRequests">
            <td>
              <button class="btn btn-danger" (click)="handleDeleteRequest(n.requestId)" >حذف
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>{{ n.reason }}</td>
            <td>{{ n.requestStatus }}</td>
            <td>
              <img [src]="n.itemData.imageUrl" alt="Item Image" width="100">
            </td>
            <td>{{ n.date }}</td>
            <td>{{ n.itemData.type }}</td>
            <td>{{ n.itemData.size }}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{ errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>
