<div class="p-4"  dir="rtl">
  <h1>منتجاتنا </h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for(product of items; track product.itemId){
      <div class="col-3" dir="rtl">
        <div class="card h-100">
          <!-- <p-tag [value]="in_stock"></p-tag> -->
          <!--          <img [src]="product.imgUrl" class="card-img-top" alt="...">-->
          <img [src]='product.item.imageUrl' alt="Item Image" />
          <div class="card-body">
            <h5 class="card-title text-end">{{product.item.type}}</h5>
            <p class="card-text text-end">
              {{product.item.description}}
            </p>
            <div class="product-info d-flex justify-content-between align-items-center">
              <div class="product-sub-info text-end">
                <p><span style="font-weight: bold;">التصنيف: </span>{{product.item.type}}</p>
                <p><span style="font-weight: bold;">الحجم : </span>{{product.item.size}}</p>
                <p><span style="font-weight: bold;">حاله الملبس  : </span>{{ product.item.state }}</p>
                <p><span style="font-weight: bold;">النوع : </span>{{ product.item.genderSuitability }}</p>
                <p><span style="font-weight: bold;"> حاله الطلب: </span>{{ product.item.status }}</p>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="button" class="btn btn-primary" [routerLink]="['/item',product.itemId]" routerLinkActive="active">
              <i class="pi pi-shopping-cart" ></i> عرض المنتج
            </button>
          </div>
        </div>
      </div>

    }
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-7">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <button class="page-link" (click)="previousPage()">السابق</button>
      </li>
      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let pageIndex = index"
        [class.active]="pageIndex === currentPage"
      >
        <button class="page-link" (click)="goToPage(pageIndex)">
          {{ pageIndex + 1 }}
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
        <button class="page-link" (click)="nextPage()">التالي</button>
      </li>
    </ul>
  </nav>

</div>
