<div class="footer-container " dir="rtl" >
  <p-divider layout="horizontal"></p-divider>

  <div class="footer-content container">
    <div class="footer-section">
      <h3>معلومات عنا</h3>
      <p>نحن ملتزمون بتقديم أفضل الخدمات لعملائنا في جميع أنحاء العالم.</p>
    </div>

    <div class="footer-section">
      <h3>روابط سريعة</h3>
      <ul>
        <li><a href="#">الصفحة الرئيسية</a></li>
        <li><a href="#">الخدمات</a></li>
        <li><a href="#">معلومات عنا</a></li>
        <li><a href="#">اتصل بنا</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>اتصل بنا</h3>
      <p><i class="pi pi-envelope"></i> info&#64;kesaa.com</p>
      <p><i class="pi pi-phone"></i> +966 123 456 789</p>
      <div class="social-icons">
        <i class="pi pi-facebook"></i>
        <i class="pi pi-twitter"></i>
        <i class="pi pi-linkedin"></i>
      </div>
    </div>
  </div>

  <p-divider layout="horizontal"></p-divider>

  <div class="footer-bottom">
    <p>&copy; 2024 جميع الحقوق محفوظة لشركتك.</p>
  </div>
</div>
